<template>
  <div>
    <h1>Font Style Selector</h1>

    <!-- List of examples -->
    <hr>
    <div class="egList">
      <a href=""
        v-for="(option, i) in options"
        :key="i"
        :class="{ active: selectedOpIndx === i }"
        @click="showExample($event, i)"
      >
        Example {{ i + 1 }}
      </a>
    </div>
    <hr>

    <!-- Rich text editor(s) -->
    <template v-for="(option, i) in options">
      <div :key="i" v-if="selectedOpIndx === i">
        <h2>Example {{ i + 1}}:</h2>
        <h3>Mode: {{ option.mode }}</h3>

        <RichTextEditor :options="option"/>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import RichTextEditor from './RichTextEditor.vue';
import RichTextEditorOptions from '../interfaces/RichTextEditorOptions';

@Component({
  components: {
    RichTextEditor,
  },
})
export default class Demo extends Vue {

  private selectedOpIndx: number = 0;

  private options: RichTextEditorOptions[] = [
    {
      mode: 'checkbox',
      styles: ['bold', 'italic', 'underline'],
      labels: [
        '<span style="font-weight: bold">Bold</span>',
        '<span style="font-style: italic">Italic</span>',
        '<span style="text-decoration: underline">Underline</span>',
      ],
    },
    {
      mode: 'radio',
      styles: ['bold', 'italic'],
      labels: [
        '<span style="font-weight: bold">Bold</span>',
        '<span style="font-style: italic">Italic</span>',
      ],
    },
    {
      mode: 'checkbox',
      styles: ['insertOrderedList', 'insertUnorderedList', 'subscript', 'superscript'],
      labels: [
        'List (ol)',
        'List (ul)',
        'Subscript',
        'Superscript',
      ],
    },
  ];

  private showExample(event: Event, opIndx: number): void {
    event.preventDefault();
    this.selectedOpIndx = opIndx;
  }
}
</script>

<style scoped lang="scss">
.egList a {
  display: inline-block;
  margin: 1px 6px;
  text-decoration: none;
}

.active {
  font-weight: bold;
}
</style>
