<template>
  <div>
    <Toggle
      :mode="options.mode"
      :labels="options.labels"
      :values="options.styles"
      :selected.sync="selected"
      @toggle="applyStyle($event)"
    />

    <div
      class="textarea"
      contenteditable="true"
      ref="txtElmt"
      @keyup="validateSelectedStyles()"
    >
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import RichTextEditorOptions from '../interfaces/RichTextEditorOptions';
import Toggle from './Toggle.vue';

@Component({
  components: {
    Toggle,
  },
})
export default class RichTextEditor extends Vue {

  /**
   * Options for this component
   */
  @Prop() private options!: RichTextEditorOptions;

  /**
   * Reference to element that contains the text
   */
  private txtElmt: HTMLElement = document.createElement('div');

  /**
   * Selected styles
   */
  private selected: string[] = [];

  /**
   * Store a reference to the text area container on mount
   */
  private mounted(): void {
    this.txtElmt = this.$refs.txtElmt as HTMLElement;
  }

  /**
   * Apply a selected style
   */
  private applyStyle(newStyle: string): void {
    this.txtElmt.focus();
    document.execCommand(newStyle, false);

    // If in radio mode, turn off all other selected styles
    if (this.options.mode === 'radio') {
      this.options.styles.forEach((style: string) => {
        if (this.isStyleActive(style) && style !== newStyle) {
          document.execCommand(style, false);
        }
      });

      this.selected = [newStyle];
    }

    this.validateSelectedStyles();
  }

  /**
   * Verify that the selected/unselected style buttons are being accurately
   * marked.
   */
  private validateSelectedStyles(): void {
    const confirmedSelected: string[] = [];
    this.options.styles.forEach((style: string) => {
      if (this.isStyleActive(style)) {
        confirmedSelected.push(style);
      }
    });
    this.selected = confirmedSelected;
  }

  /**
   * Determine if a style is currently active
   */
  private isStyleActive(style: string): boolean {
    return document.queryCommandState(style);
  }
}
</script>

<style scoped lang="scss">
.textarea {
  border: 1px solid #c9c9c9;
  border-radius: 6px;
  min-height: 150px;
  resize: both;
  overflow: auto;
}

.textarea:focus {
  outline: solid #54abe6 1px;
}
</style>
