<template>
  <div class="btns">
    <button
      v-for="(label, i) in labels"
      @click="toggle(values[i])"
      :class="{ active: selectedMap[values[i]] }"
      :key="i"
    >
      <span v-html="label"></span>
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';

@Component
export default class Toggle extends Vue {

  /**
   * Toggle mode
   *
   * 'checkbox' = can select multiple values
   * 'radio' = can only select a single value at a time
   */
  @Prop() private mode!: 'checkbox' | 'radio';

  /**
   * Labels for the buttons. HTML is permitted
   */
  @Prop() private labels!: string[];

  /**
   * Values for the buttons
   */
  @Prop() private values!: any[];

  /**
   * Selected values
   */
  @Prop() private selected!: any[];

  /**
   * Flags to easily identify selected buttons
   */
  private selectedMap: { [key: string]: boolean } = Object.create(null);

  /**
   * Toggle a button
   */
  private toggle(value: any): void {
    const index: number = this.selected.indexOf(value);

    if (index === -1 && this.mode === 'radio') {
      this.$emit('update:selected', [value]);
    } else if (index === -1) {
      this.$emit('update:selected', this.selected.concat(value));
    } else {
      this.$emit(
        'update:selected',
        this.selected.filter((v: any) => v !== value)
      );
    }

    this.$emit('toggle', value);
  }

  /**
   * Update `selectedMap` every time `selected` changes so that we can always
   * keep track of the selected buttons.
   */
  @Watch('selected') private onSelectedChange(): void {
    this.selectedMap = Object.create(null);
    this.selected.forEach((v: any) => Vue.set(this.selectedMap, v, true));
  }
}
</script>

<style scoped lang="scss">
$border-radius: 6px;

button {
  border: 1px solid #c9c9c9;
  background: #f8f8f8;
  color: #000;
  text-align: center;
  display: inline-block;
  padding: 11px;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: solid #54abe6 1px;
}

.active {
  background: #eee;
  box-shadow: inset 0px 0px 5px #bbb;
}

.btns {
  margin-bottom: 5px;
}

.btns button:first-child {
  border-radius: $border-radius 0 0 $border-radius;
}

.btns button:last-child {
  border-radius: 0 $border-radius $border-radius 0;
}

.btns button:not(:first-child) {
  margin: 0 -1px;
}

.btns button:only-child {
  border-radius: $border-radius;
  margin: 0;
}
</style>
