<template>
  <Demo/>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

import Demo from './components/Demo.vue';

@Component({
  components: {
    Demo,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
</style>
